.scratch-container {
    position: relative;
    width: 150vw; /* Ajusta el tamaño según tu imagen */
    height: 150vh;
  }
  
  #scratchCanvas, #backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  #backgroundImage {
    z-index: -1; /* Coloca la imagen detrás del canvas */
  }
  
  