<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mi</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="page-container">
        <div class="content">
            <h1>Acerca de mi</h1>
            <div class="profile-container">
                <img src="../storage/img/caricatura1.jpg" alt="Foto de perfil" class="profile-image">
                <div class="profile-info">
                    <h2>Diego Fernando Marin Larrota</h2>
                    <p>Tecnico en programacion de software</p>
                    <p>Bucaramanga, colombia</p>
                    <p>Curioso y aventurero, siempre listo para enfrentar desafíos y explorar nuevos caminos</p>
                    <div class="contact-icons">
                        <a href="https://www.linkedin.com/in/diego-marin-078136284/" target="_blank"><img src="../storage/img/linkedin.png" alt="LinkedIn"></a>
                        <a href="https://github.com/DiegoFernandoMarinL" target="_blank"><img src="../storage/img/github-sign.png" alt="GitHub"></a>
                        <a href="mailto:diego.14.marin@gmail.com" target="_blank"><img src="../storage/img/email.png" alt="Email"></a>
                    </div>
                </div>
            </div>
            <button id="backButton">Volver</button>
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>