<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Experiencias Laborales</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="content-experience">
        <h1>Mis Experiencias Laborales</h1>
        <div class="experience-container">
            <div class="experience-item">
                <img src="../storage/img/logoComputec.png" alt="Experiencia 2" class="experience-image">
                <p>2018-2019</p>
                <p>Aprendiz Sena Ingenieria</p>
            </div>
            <div class="experience-item">
                <img src="../storage/img/logoComputec.png" alt="Experiencia 1" class="experience-image">
                <p>2020-2022</p>
                <p>Auxiliar Tecnico</p>
            </div>
            <div class="experience-item">
                <img src="../storage/img/logoComputec.png" alt="Experiencia 1" class="experience-image">
                <p>2022-2023</p>
                <p>Analista de sistemas junior</p>
            </div>
        </div>
        <button id="backButton">Volver</button>
    </div>
</body>
</html>