<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos Personales</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="content-project">
        <h1>Proyectos Personales</h1>
        <div class="project-container">
            <div class="project-item">
                <img src="../storage/img/SpaceXLogo.jpg" alt="Proyecto 1" class="project-image">
                <p>2023 - Proyecto Alpha</p>
            </div>
            <div class="project-item">
                <img src="../storage/img/filterUser.png" alt="Proyecto 2" class="project-image">
                <p>2022 - Proyecto Beta</p>
            </div>
            <div class="project-item">
                <img src="../storage/img/virtualWallet.jpg" alt="Proyecto 2" class="project-image">
                <p>2022 - Proyecto Beta</p>
            </div>
        </div>
        <button id="backButton">Volver</button>
    </div>
</body>
</html>