<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis estudios</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="content-study">
        <h1>Mis estudios</h1>
        <div class="study-container">
            <div class="study-item">
                <img src="../storage/img/Tecnico_Programcion_Software.png" alt="Estudio 1" class="study-image">
                <div class="study-description">
                    <h5>Tecnico programacion de software</h5>
                    <p>2019 - Sena</p>
                </div>
            </div>
            <div class="study-item">
                <img src="../storage/img/Certificado curso HTML5 y CSS3.jpg" alt="Estudio 2" class="study-image">
                <div class="study-description">
                    <h5>Curso HTML5 y CSS3</h5>
                    <p>2019 - Sena</p>
                </div>
            </div>
            <div class="study-item">
                <img src="../storage/img/certificado de bachiller academico.jpg" alt="Estudio 2" class="study-image">
                <div class="study-description">
                    <h5>Bachiller academico</h5>
                    <p>2017 - IED Brasilia Bosa</p>
                </div>
            </div>
            <!-- Agrega más elementos de estudio según sea necesario -->
        </div>
        <button id="backButton">Volver</button>
    </div>
</body>
</html>